* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    body{
      background: rgb(65, 65, 65);
      font-family:"poppins", sans-serif;
      min-height: 95vh;
      display: flex;
      justify-content: center;

      .app-container {
        width:162vh;
        height: 95%;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        background-image:url(public/img/lapblk.jpg);
        object-fit: contain;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: 100%;
        box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.463);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

      }
    }
  }